---
layout: default
---

<!-- <div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="page-heading">{{ page.list_title | default: "Projects" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
    
  {%- endif -%}

</div> -->

<!-- {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<li><a href="{{ post.url }}">{{ post.title }} (<span class="post-meta">{{ post.date | date: date_format }}</span>)</a></li> -->
            
{% for category in site.categories %}
  <h1 class="capitalized-post-list-heading">{{ category | first }}</h1>
  <ul>
    {% for post in site.posts %}
      {% if post.categories[0] == category[0] %}
        <li><a href="{{ post.url }}">{{ post.title }}</a> (<span class="post-meta">{{ post.date | date: date_format }}</span>)</li>
      {% endif %}
      {% endfor %}
  </ul>
{% endfor %}
